<!DOCTYPE html>
<html id="htmlView" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../../../assets/lib/w3css/w3.css">
    <link rel="stylesheet" href="../../../assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../environments/style.css">

    <link rel="stylesheet" href="./menu.css">
</head>
<body>
    <!-- <div> -->
        Sección menu en construcción
    <!-- </div> -->
</body>
<script src="./menu.js"></script>
</html>