body
{
    font-family: 'Jaldi', sans-serif;
}

.title
{
    font-size: 2rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

nav
{
    background-color: #ff4500 !important;
    text-align: center;
}

@media only screen and (min-width: 993px)
{
    nav a.sidenav-trigger
    {
        display: block !important;
    }
}

/* #modalSeleccionarInicioSesion
{
    text-align: center;
} */