<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../../../assets/lib/w3css/w3.css">
    <link rel="stylesheet" href="../../../assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../environments/style.css">

    <link rel="stylesheet" href="./home.css">
</head>
<body>
    Seccion inicio 2.0
    <div class="w3-row w3-section">
        <div class="w3-col s8 m8 l8">
            <h3 class="w3-right" for="">Youtube</h3>
        </div>
        <div class="w3-col s2 m2 l2 w3-center">
            <i class="fa fa-share urlIcon w3-xxlarge" aria-hidden="true"></i>
        </div>
    </div>
</body>
<script src="./home.js"></script>
</html>